name: Move new issues into Backlog

on:
  issues:
    types: [ opened ]

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      # https://github.com/marketplace/actions/create-github-app-token
      - name: Create GitHub App Token
        uses: actions/create-github-app-token@v1.6.4
        id: app-token
        with:
          app-id: ${{ vars.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      # https://github.com/marketplace/actions/add-to-github-projects
      - uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/orgs/2rabs/projects/2
          github-token: ${{ steps.app-token.outputs.token }}
